# Project Notebook: IMDB ratings 

The pointof this project is to test different models on how well they can peform. A KNN Regression and Ensembles...

In [131]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import re
import copy

import sys
import os
import pathlib
import glob

In [132]:
data0 = pd.read_csv("data/imdb.csv")
data0_m = pd.read_csv("data/imdb.csv")
data0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         6178 non-null   object
 1   Date         6178 non-null   int64
 2   Rate         6178 non-null   object
 3   Votes        6178 non-null   object
 4   Genre        6178 non-null   object
 5   Duration     6178 non-null   object
 6   Type         6178 non-null   object
 7   Certificate  6178 non-null   object
 8   Episodes     6178 non-null   object
 9   Nudity       6178 non-null   object
 10  Violence     6178 non-null   object
 11  Profanity    6178 non-null   object
 12  Alcohol      6178 non-null   object
 13  Frightening  6178 non-null   object
dtypes: int64(1), object(13)
memory usage: 675.8+ KB

As it is visible, all of these are strings, which needs some encoding. Let's look at the different columns unique values!

In [133]:
for i in data0.columns:
    typ = pd.unique(data0[i].values)
    print("+------------------------------------------------------+\nColumn: \t {}\n\t{}\n+======================================================+\n".format(i,typ))

+------------------------------------------------------+
Column: 	 Name
	['No Time to Die' 'The Guilty' 'The Many Saints of Newark' ...
 "Before the Devil Knows You're Dead" 'Queen Bees' 'Death Race']
+======================================================+

+------------------------------------------------------+
Column: 	 Date
	[2021 2015 2006 2020 2018 2012 1993 1984 2008 1978 2019 1997 2022 1995
 1996 2017 1999 2013 1994 2001 2007 1991 2016 2000 1972 1988 2014 1975
 2005 2009 1981 2002 2010 2004 1980 1962 1982 1992 1998 1969 1990 1985
 2003 1973 1971 1974 1987 2011 1979 1964 1986 1963 1989 1976 1983 1960
 1977 1957 1966 1968 1965 1953 1967 1950 1939 1948 1942 1961 1941 1954
 2023 1931 1958 1946 1959 1956 1945 1935 1932 1927 1951 1922 1937 1952
 1970 1940 1955 1949 1933 1943 1944]
+======================================================+

+------------------------------------------------------+
Column: 	 Rate
	['7.6' '6.3' '6.4' '8.3' '8.8' '7.3' 'No Rate' '8.2' '7.9' '7.4' '9.2'
 '8.0' '7.5' '6.8' '7.7' '8.4' '8.1' '6.1' '4.8' '4.1' '6.5' '8.7' '5.2'
 '6.7' '7.8' '5.3' '8.5' '7.2' '9.4' '5.8' '6.9' '8.9' '6.6' '8.6' '5.5'
 '7.0' '6.2' '5.0' '9.3' '6.0' '5.9' '9.0' '3.3' '7.1' '4.2' '5.4' '4.9'
 '5.1' '9.1' '3.9' '4.6' '5.7' '4.3' '5.6' '4.4' '3.2' '2.7' '4.7' '3.7'
 '4.0' '3.4' '9.6' '3.8' '2.5' '4.5' '9.7' '2.8' '3.0' '9.5' '3.1' '1.2'
 '3.5' '2.4' '2.0' '2.3' '1.9' '2.9']
+======================================================+

+------------------------------------------------------+
Column: 	 Votes
	['107,163' '64,375' '27,145' ... '100,668' '887' '203,578']
+======================================================+

+------------------------------------------------------+
Column: 	 Genre
	['Action, Adventure, Thriller' 'Crime, Drama, Thriller' 'Crime, Drama'
 'Action, Adventure, Sci-Fi' 'Action, Adventure, Drama'
 'Comedy, Drama, Sport' 'Action, Adventure, Comedy'
 'Animation, Action, Adventure' 'Comedy, Drama' 'Drama, Horror, Thriller'
 'Crime, Drama, Mystery' 'Drama, Sci-Fi' 'Comedy, Crime, Drama' 'Comedy'
 'Drama, Romance' 'Action, Drama, History' 'Action, Fantasy, Mystery'
 'Action, Adventure, Fantasy' 'Drama' 'Action, Horror, Mystery'
 'Crime, Drama, Fantasy' 'Horror, Thriller' 'Horror, Mystery, Thriller'
 'Crime, Horror, Mystery' 'Drama, Mystery, Thriller'
 'Action, Crime, Drama' 'Biography, Drama, Musical'
 'Drama, Mystery, Sci-Fi' 'Action, Drama, Sci-Fi'
 'Animation, Adventure, Comedy' 'Comedy, Fantasy, Horror'
 'Drama, Horror, Sci-Fi' 'Biography, Crime, Drama' 'Crime'
 'Drama, Fantasy, Horror' 'Action, Adventure, Crime'
 'Drama, Horror, Mystery' 'Comedy, Family, Fantasy' 'Action, Drama'
 'Crime, Drama, Romance' 'Drama, Western' 'Comedy, Romance'
 'Comedy, Crime' 'Adventure, Comedy, Crime' 'Action, Sci-Fi, Thriller'
 'Adventure, Drama, Fantasy' 'Action' 'Comedy, Drama, Romance' 'Thriller'
 'Comedy, Fantasy' 'Adventure, Drama, Family' 'Drama, Thriller, Western'
 'Drama, Sci-Fi, Thriller' 'Biography, Drama, History'
 'Drama, Fantasy, Romance' 'Animation, Comedy' 'Drama, Musical'
 'Comedy, Drama, Thriller' 'Romance' 'Animation, Action, Comedy'
 'Drama, Sport' 'Action, Drama, Thriller' 'Western'
 'Adventure, Comedy, Family' 'Crime, Horror, Thriller' 'Drama, Mystery'
 'Horror, Mystery' 'Drama, Thriller' 'Crime, Mystery, Thriller'
 'Action, Drama, Mystery' 'Action, Sci-Fi' 'Biography, Comedy, Crime'
 'Action, Adventure, Mystery' 'Adventure, Family, Fantasy'
 'Biography, Drama, Romance' 'Drama, Musical, Romance'
 'Action, Crime, Thriller' 'Action, Crime, Mystery' 'Crime, Drama, Horror'
 'Horror' 'Action, Thriller' 'Action, Horror, Thriller'
 'Action, Adventure, Horror' 'Biography, Drama, Music'
 'Comedy, Drama, Fantasy' 'Action, Drama, Fantasy'
 'Animation, Family, Fantasy' 'Adventure, Drama, Sci-Fi'
 'Comedy, Horror, Musical' 'Adventure, Comedy, Drama'
 'Action, Comedy, Drama' 'Action, Drama, Horror' 'Crime, Drama, History'
 'Action, Drama, War' 'Action, Drama, Romance' 'Comedy, Horror'
 'Drama, Romance, Western' 'Drama, History' 'Adventure, Fantasy, Romance'
 'Mystery, Romance, Sci-Fi' 'Drama, Family' 'Comedy, Drama, Family'
 'Action, Comedy, Fantasy' 'Short, Horror, Sci-Fi' 'Drama, Horror'
 'Comedy, Drama, Sci-Fi' 'Comedy, Music' 'Drama, Fantasy, Mystery'
 'Fantasy, Horror' 'Comedy, Drama, Horror' 'Fantasy, Horror, Mystery'
 'Action, Comedy, Crime' 'Adventure, Drama, War' 'Drama, Music'
 'Animation, Comedy, Drama' 'Family, Fantasy, Horror'
 'Comedy, Crime, Mystery' 'Drama, History, Thriller'
 'Comedy, Mystery, Romance' 'Drama, Romance, Sport'
 'Animation, Drama, Family' 'Action, Mystery, Sci-Fi'
 'Adventure, Sci-Fi, Thriller' 'Action, Adventure, Biography'
 'Crime, Drama, Sci-Fi' 'Action, Comedy, Horror' 'Comedy, Mystery'
 'Action, Horror, Sci-Fi' 'Adventure, Comedy, Sci-Fi'
 'Horror, Mystery, Sci-Fi' 'Biography, Drama' 'Horror, Sci-Fi'
 'Adventure, Drama, Romance' 'Adventure, Thriller'
 'Drama, Family, Romance' 'Comedy, Drama, War' 'Action, Adventure'
 'Comedy, Drama, Mystery' 'Action, Crime, Horror'
 'Action, Adventure, Romance' 'Action, Horror' 'Drama, Romance, Thriller'
 'Biography, Comedy, Drama' 'Comedy, Drama, Music'
 'Animation, Action, Drama' 'Drama, War' 'Adventure, Drama, History'
 'Action, Biography, Drama' 'Comedy, Horror, Thriller' 'Mystery, Thriller'
 'Family, Fantasy' 'Adventure, Fantasy, Mystery' 'Comedy, Family, Horror'
 'Fantasy, Horror, Thriller' 'Adventure, Drama, Mystery'
 'Drama, Mystery, Romance' 'Short, Action, Thriller'
 'Adventure, Biography, Crime' 'Drama, Fantasy, Sci-Fi'
 'Adventure, Mystery, Sci-Fi' 'Drama, Romance, Sci-Fi' 'Comedy, Sci-Fi'
 'Animation, Adventure, Family' 'Comedy, Family, Romance' 'Comedy, Family'
 'Crime, Drama, Musical' 'Animation, Short, Action' 'Drama, Thriller, War'
 'Animation, Crime, Drama' 'Short, Mystery' 'Horror, Sci-Fi, Thriller'
 'Adventure, Horror, Sci-Fi' 'Adventure, Horror, Mystery'
 'Action, Adventure, Family' 'Animation, Comedy, Family' 'Reality-TV'
 'Comedy, Music, Romance' 'Drama, History, War'
 'Animation, Comedy, Sci-Fi' 'Crime, Thriller' 'Action, Mystery, Thriller'
 'Adventure, Comedy' 'Adventure, Drama' 'Adventure, Fantasy'
 'Adventure, Horror, Thriller' 'Drama, Fantasy' 'Adventure, Sci-Fi'
 'Family, Sci-Fi' 'Drama, Fantasy, Thriller' 'Adventure, Biography, Drama'
 'Comedy, Crime, Sport' 'Drama, Mystery, War'
 'Documentary, Crime, Mystery' 'Comedy, Fantasy, Mystery'
 'Animation, Adventure, Drama' 'Drama, Fantasy, War'
 'Comedy, Mystery, Sci-Fi' 'Action, Fantasy, Sci-Fi' 'Musical, Romance'
 'Comedy, Fantasy, Music' 'Drama, Music, Romance' 'Action, Comedy, Sci-Fi'
 'Comedy, Family, Sci-Fi' 'Crime, Horror' 'Action, Adventure, Western'
 'Comedy, Sport' 'Comedy, Romance, Sci-Fi' 'Drama, History, Romance'
 'Mystery, Sci-Fi, Thriller' 'Drama, Film-Noir'
 'Documentary, Reality-TV, Romance' 'Comedy, Crime, Romance'
 'Comedy, Crime, Thriller' 'Adventure, Comedy, Fantasy'
 'Adventure, Comedy, Romance' 'Adventure, Drama, Horror'
 'Animation, Short, Adventure' 'Animation, Comedy, Romance'
 'Comedy, Horror, Mystery' 'Documentary, Comedy'
 'Biography, Drama, Thriller' 'Comedy, Drama, Musical'
 'Biography, Drama, Sport' 'Comedy, Musical' 'Comedy, Fantasy, Romance'
 'Documentary, Reality-TV' 'Adventure, Game-Show, Reality-TV'
 'Comedy, Game-Show' 'Action, Fantasy, Thriller' 'Comedy, Drama, Western'
 'Fantasy, Sci-Fi, Thriller' 'Animation, Short, Sci-Fi'
 'Animation, Drama, Fantasy' 'Action, Drama, Family'
 'Action, Drama, Sport' 'Game-Show, Reality-TV'
 'Adventure, Drama, Thriller' 'Drama, Romance, War' 'Action, Comedy, War'
 'Comedy, Family, Music' 'Adventure, Comedy, Music'
 'Family, Fantasy, Musical' 'Comedy, Horror, Sci-Fi' 'Animation, Action'
 'Comedy, Musical, Romance' 'Drama, Horror, Musical'
 'Drama, Family, Fantasy' 'Sci-Fi, Thriller' 'Action, Comedy, Mystery'
 'Biography, Drama, Family' 'Animation, Family' 'Action, Thriller, War'
 'Action, Crime, Sci-Fi' 'Adventure, Horror' 'Action, Crime'
 'Action, Fantasy, Horror' 'Adventure, Drama, Western' 'Fantasy'
 'Drama, Family, Western' 'Crime, Horror, Western'
 'Action, Adventure, History' 'Drama, Horror, Music'
 'Animation, Adventure, Fantasy' 'Comedy, Horror, Romance'
 'Documentary, History, Reality-TV' 'Action, Crime, Fantasy' 'Talk-Show'
 'Comedy, Talk-Show' 'Action, Biography, Crime' 'Action, Comedy, Thriller'
 'Crime, Mystery, Sci-Fi' 'Drama, Comedy, Crime' 'Comedy, Western'
 'Mystery, Romance, Thriller' 'Comedy, Crime, Fantasy'
 'Drama, Horror, Western' 'Comedy, Drama, History' 'Comedy, War'
 'History, Sport' 'Action, Horror, War' 'Action, Drama, Western'
 'Action, Comedy' 'Game-Show, Music, Reality-TV' 'Animation, Drama, War'
 'Documentary' 'Adventure, Crime, Drama' 'Action, Comedy, Family'
 'Documentary, Drama, History' 'Adventure, Comedy, Reality-TV'
 'Fantasy, Mystery, Sci-Fi' 'Action, Comedy, Romance'
 'Crime, Fantasy, Horror' 'Fantasy, Mystery, Romance'
 'Crime, Horror, Sci-Fi' 'Family, Fantasy, Romance'
 'Comedy, Romance, Sport' 'Drama, Film-Noir, Mystery' 'Comedy, Reality-TV'
 'Crime, Drama, Music' 'Adventure, Fantasy, Sci-Fi' 'Animation, Drama'
 'Comedy, Mystery, Thriller' 'Documentary, Sport'
 'Drama, Family, Reality-TV' 'Short, Family' 'Comedy, History, News'
 'Adventure, Mystery, Thriller' 'Animation' 'Short, Drama, Romance'
 'Comedy, Crime, Musical' 'Crime, Drama, Western' 'Reality-TV, Romance'
 'Documentary, Horror' 'Crime, Mystery' 'Adventure, Comedy, History'
 'Drama, Family, Musical' 'Action, Comedy, Sport' 'Animation, Horror'
 'Action, Fantasy' 'Short, Drama' 'Family, Western' 'Biography'
 'Drama, Horror, Romance' 'Drama, Fantasy, History'
 'Animation, Crime, Mystery' 'Short, Action' 'Documentary, Short, Action'
 'Adventure, Comedy, Musical' 'Comedy, Family, Sport'
 'Adventure, Thriller, Western' 'Documentary, Biography, Drama'
 'Animation, Action, Crime' 'Animation, Action, Thriller'
 'Action, Western' 'Short, Adventure, Comedy'
 'Game-Show, Reality-TV, Romance' 'Adventure, Fantasy, Horror'
 'Action, Drama, Music' 'Documentary, Fantasy, History'
 'Family, Game-Show, Music' 'Family, Musical, Romance'
 'Drama, Romance, Mystery' 'Action, Romance, Thriller'
 'Comedy, History, War' 'Documentary, Biography, Comedy'
 'Animation, Drama, Music' 'Animation, Action, Horror'
 'Crime, Mystery, Romance' 'Sci-Fi' 'Crime, Mystery, Drama'
 'Comedy, Crime, Horror' 'Crime, Sci-Fi, Thriller' 'Music'
 'Crime, Romance, Thriller' 'Animation, Comedy, Fantasy'
 'Horror, Music, Thriller' 'Comedy, Crime, Family'
 'Comedy, Romance, Musical' 'Family, Game-Show, Reality-TV'
 'Action, Crime, Romance' 'Crime, Film-Noir, Mystery'
 'Biography, Drama, War' 'Crime, Drama, Sport' 'Comedy, Music, Musical'
 'Mystery, Romance' 'Drama, Music, Musical' 'Animation, Drama, Mystery'
 'Comedy, Romance, Western' 'Short, Comedy' 'Short, Action, Sci-Fi'
 'Romance, Sci-Fi, Thriller' 'Comedy, History' 'Comedy, Horror, Music'
 'History' 'Drama, Family, History' 'Family, Fantasy, Mystery'
 'Crime, Drama, Film-Noir']
+======================================================+

+------------------------------------------------------+
Column: 	 Duration
	['163 ' '90 ' '120 ' '97 ' '155 ' '30 ' '115 ' 'None' '45 ' '44 ' '50 '
 '55 ' '60 ' '22 ' '41 ' '57 ' '134 ' '152 ' '132 ' '107 ' '148 ' '144 '
 '42 ' '105 ' '96 ' '111 ' '98 ' '70 ' '112 ' '143 ' '93 ' '108 ' '51 '
 '49 ' '43 ' '85 ' '137 ' '106 ' '157 ' '58 ' '91 ' '103 ' '53 ' '130 '
 '87 ' '23 ' '113 ' '40 ' '110 ' '59 ' '353 ' '102 ' '104 ' '88 ' '46 '
 '64 ' '116 ' '194 ' '146 ' '24 ' '114 ' '139 ' '170 ' '99 ' '52 ' '62 '
 '86 ' '161 ' '127 ' '92 ' '164 ' '140 ' '117 ' '136 ' '180 ' '142 '
 '122 ' '28 ' '121 ' '72 ' '181 ' '124 ' '119 ' '101 ' '150 ' '118 '
 '566 ' '175 ' '48 ' '76 ' '169 ' '100 ' '89 ' '109 ' '25 ' '151 ' '242 '
 '47 ' '138 ' '126 ' '82 ' '153 ' '135 ' '133 ' '154 ' '178 ' '54 ' '81 '
 '145 ' '165 ' '176 ' '95 ' '149 ' '128 ' '84 ' '229 ' '94 ' '129 ' '77 '
 '141 ' '123 ' '32 ' '158 ' '195 ' '285 ' '125 ' '159 ' '185 ' '83 '
 '162 ' '21 ' '7 ' '189 ' '27 ' '160 ' '78 ' '15 ' '156 ' '131 ' '201 '
 '510 ' '35 ' '31 ' '209 ' '75 ' '183 ' '202 ' '20 ' '56 ' '198 ' '147 '
 '172 ' '11 ' '168 ' '296 ' '36 ' '328 ' '179 ' '80 ' '79 ' '166 ' '188 '
 '13 ' '167 ' '238 ' '26 ' '191 ' '16 ' '187 ' '207 ' '415 ' '261 ' '29 '
 '12 ' '280 ' '71 ' '228 ' '593 ' '38 ' '39 ' '900 ' '192 ' '14 ' '2 '
 '220 ' '18 ' '65 ' '63 ' '33 ' '212 ' '197 ' '9 ' '73 ' '210 ' '74 '
 '69 ' '270 ' '177 ' '461 ' '174 ' '582 ' '561 ' '4 ']
+======================================================+

+------------------------------------------------------+
Column: 	 Type
	['Film' 'Series']
+======================================================+

+------------------------------------------------------+
Column: 	 Certificate
	['PG-13' 'R' 'TV-MA' 'None' 'TV-14' 'TV-PG' 'PG' 'TV-G' '(Banned)'
 'Not Rated' 'E' 'NC-17' 'TV-Y7-FV' 'TV-Y7' 'Unrated' 'Approved' 'G'
 'TV-Y' 'GP' 'Passed' 'M' 'X' 'M/PG']
+======================================================+

+------------------------------------------------------+
Column: 	 Episodes
	['-' '23' '10' '18' '25' '177' '6' '11' '86' '116' '174' '384' '73' '9'
 '72' '93' '20' '41' '29' '5' '420' '17' '36' '31' '30' '34' '37' '32'
 '62' '38' '59' '502' '188' '202' '35' '235' '153' '327' '52' '75' '323'
 '80' '96' '24' '4' '232' '132' '98' '126' '8' '250' '280' '60' '200' '7'
 '61' '173' '22' '14' '63' '47' '119' '87' '731' '336' '157' '113' '76'
 '45' '44' '135' '208' '90' '89' '65' '171' '134' '19' '101' '16' '176'
 '50' '165' '154' '245' '217' '39' '331' '46' '110' '221' '92' '239' '376'
 '27' '146' '26' '100' '145' '33' '262' '124' '995' '192' '457' '15' '156'
 '225' '117' '311' '12' '240' '170' '68' '104' '222' '94' '915' '53' '182'
 '136' '81' '13' '271' '168' '264' '28' '138' '77' '121' '287' '213' '187'
 '108' '91' '195' '84' '57' '40' '78' '179' '151' '21' '125' '635' '204'
 '251' '49' '180' '70' '155' '103' '64' '42' '163' '133' '74' '160' '51'
 '128' '194' '115' '95' '220' '97' '67' '207' '322' '292' '56' '289' '71'
 '148' '112' '43' '82' '123' '58' '111' '140' '105' '249' '246' '139' '69'
 '210' '109' '696' '99' '158' '258' '609' '227' '55' '107' '356' '230'
 '385' '193' '85' '3' '255' '66' '197' '254' '102' '215' '147' '120' '106'
 '88' '430' '212' '244' '48' '149' '114' '288' '164' '14301' '2404' '261'
 '6955' '284' '369' '243' '203' '372' '281' '380' '277' '274' '181' '172'
 '8002' '224' '54' '12277' '375' '1186' '178' '10336' '7675' '130' '8365'
 '268' '294' '144' '79' '236' '196' '209' '175' '141' '1234' '199' '339'
 '122' '503' '1230' '167' '143' '152' '219' '161' '201' '304' '478' '4050'
 '137' '127' '129' '159' '2257' '312' '9059' '576' '211' '8036' '131'
 '510' '118' '295' '1608']
+======================================================+

+------------------------------------------------------+
Column: 	 Nudity
	['Mild' 'None' 'Moderate' 'No Rate' 'Severe']
+======================================================+

+------------------------------------------------------+
Column: 	 Violence
	['Moderate' 'None' 'Severe' 'No Rate' 'Mild']
+======================================================+

+------------------------------------------------------+
Column: 	 Profanity
	['Mild' 'Severe' 'Moderate' 'None' 'No Rate']
+======================================================+

+------------------------------------------------------+
Column: 	 Alcohol
	['Mild' 'None' 'Moderate' 'No Rate' 'Severe']
+======================================================+

+------------------------------------------------------+
Column: 	 Frightening
	['Moderate' 'None' 'Mild' 'No Rate' 'Severe']
+======================================================+

In [134]:
print(len(pd.unique(data0['Genre'].values)))

377

Let's go through each column!

**Name**:

No issue here, we don't need any encoding, as the name of the movie/series is an unneeded informtion for our analysis.

**DATE**

This is information that is needed for us.

**RATE**

Target. What we want to predict!

**VOTES**

How many people voted for its rating.

**GENRE**

This has many, but it seems like there are overlappings. Maybe unfolding this into "isSCIFI" columns would be handy...
After checking, we only have like 27 genres, rather then \~400

**DURATION**

Lenght in minutes.

**TYPE**

Is it a movie or series.

**Certificate**

I don't know what are these, but it needs to be encoded.

**EPISODES**

How many episodes it got. Question is how much does it counted if a movie is a trilogy? 

**OTHERS** 

These are just some simple ways to categorize the film.

In [137]:
#preparing stuff
rgx = re.compile("([^,\s]+)")

genres = []
for i in range(len(data0['Genre'].values)):
    gens = rgx.findall(data0['Genre'].values[i])
    genres.append(gens)
    
genres = [item for sublist in genres for item in sublist]

#format the easier rows
data0_m['Votes'] = data0_m['Votes'].replace(to_replace=r'[\,]', value='', regex=True)


#format the genres
genre_list = pd.unique(genres)
my_d = {
    "genre" : genre_list,
    "encode": np.arange(len(genre_list))
}
print((my_d["genre"]))

for i in genres:
    data0_m[i] = copy.deepcopy(np.zeros(len(data0_m.index), dtype=np.uint8))

for i in range(len(data0.index)):
    #data0_m.iloc[2]["War"]
    row = data0['Genre'].values[i]
    gens = rgx.findall(row)
    if len(gens) != 0:
        for j in gens:
            data0_m.at[i,j] = 1

['Action' 'Adventure' 'Thriller' 'Crime' 'Drama' 'Sci-Fi' 'Comedy' 'Sport'
 'Animation' 'Horror' 'Mystery' 'Romance' 'History' 'Fantasy' 'Biography'
 'Musical' 'Family' 'Western' 'Music' 'War' 'Short' 'Reality-TV'
 'Documentary' 'Film-Noir' 'Game-Show' 'Talk-Show' 'News']

In [149]:
print(len(data0_m[data0_m['Duration'] == 'None']))
print(len(data0_m[data0_m['Rate'] == 'No Rate']))

301
185

In [141]:
data0_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6178 entries, 0 to 6177
Data columns (total 41 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         6178 non-null   object
 1   Date         6178 non-null   int64
 2   Rate         6178 non-null   object
 3   Votes        6178 non-null   object
 4   Genre        6178 non-null   object
 5   Duration     6178 non-null   object
 6   Type         6178 non-null   object
 7   Certificate  6178 non-null   object
 8   Episodes     6178 non-null   object
 9   Nudity       6178 non-null   object
 10  Violence     6178 non-null   object
 11  Profanity    6178 non-null   object
 12  Alcohol      6178 non-null   object
 13  Frightening  6178 non-null   object
 14  Action       6178 non-null   uint8
 15  Adventure    6178 non-null   uint8
 16  Thriller     6178 non-null   uint8
 17  Crime        6178 non-null   uint8
 18  Drama        6178 non-null   uint8
 19  Sci-Fi       6178 non-null   uint8
 20  Comedy       6178 non-null   uint8
 21  Sport        6178 non-null   uint8
 22  Animation    6178 non-null   uint8
 23  Horror       6178 non-null   uint8
 24  Mystery      6178 non-null   uint8
 25  Romance      6178 non-null   uint8
 26  History      6178 non-null   uint8
 27  Fantasy      6178 non-null   uint8
 28  Biography    6178 non-null   uint8
 29  Musical      6178 non-null   uint8
 30  Family       6178 non-null   uint8
 31  Western      6178 non-null   uint8
 32  Music        6178 non-null   uint8
 33  War          6178 non-null   uint8
 34  Short        6178 non-null   uint8
 35  Reality-TV   6178 non-null   uint8
 36  Documentary  6178 non-null   uint8
 37  Film-Noir    6178 non-null   uint8
 38  Game-Show    6178 non-null   uint8
 39  Talk-Show    6178 non-null   uint8
 40  News         6178 non-null   uint8
dtypes: int64(1), object(13), uint8(27)
memory usage: 838.7+ KB

In [126]:
for i in pd.unique(genres):
    print(i, "\n\t", np.unique(data0_m[i], return_counts=True) )

Action
	 (array([0, 1], dtype=uint8), array([4519, 1659], dtype=int64))
Adventure
	 (array([0, 1], dtype=uint8), array([4886, 1292], dtype=int64))
Thriller
	 (array([0, 1], dtype=uint8), array([5173, 1005], dtype=int64))
Crime
	 (array([0, 1], dtype=uint8), array([4972, 1206], dtype=int64))
Drama
	 (array([0, 1], dtype=uint8), array([2913, 3265], dtype=int64))
Sci-Fi
	 (array([0, 1], dtype=uint8), array([5606,  572], dtype=int64))
Comedy
	 (array([0, 1], dtype=uint8), array([4190, 1988], dtype=int64))
Sport
	 (array([0, 1], dtype=uint8), array([6096,   82], dtype=int64))
Animation
	 (array([0, 1], dtype=uint8), array([5776,  402], dtype=int64))
Horror
	 (array([0, 1], dtype=uint8), array([5310,  868], dtype=int64))
Mystery
	 (array([0, 1], dtype=uint8), array([5412,  766], dtype=int64))
Romance
	 (array([0, 1], dtype=uint8), array([5422,  756], dtype=int64))
History
	 (array([0, 1], dtype=uint8), array([5985,  193], dtype=int64))
Fantasy
	 (array([0, 1], dtype=uint8), array([5604,  574], dtype=int64))
Biography
	 (array([0, 1], dtype=uint8), array([5879,  299], dtype=int64))
Musical
	 (array([0, 1], dtype=uint8), array([6129,   49], dtype=int64))
Family
	 (array([0, 1], dtype=uint8), array([5830,  348], dtype=int64))
Western
	 (array([0, 1], dtype=uint8), array([6113,   65], dtype=int64))
Music
	 (array([0, 1], dtype=uint8), array([6066,  112], dtype=int64))
War
	 (array([0, 1], dtype=uint8), array([6102,   76], dtype=int64))
Short
	 (array([0, 1], dtype=uint8), array([6149,   29], dtype=int64))
Reality-TV
	 (array([0, 1], dtype=uint8), array([6137,   41], dtype=int64))
Documentary
	 (array([0, 1], dtype=uint8), array([6149,   29], dtype=int64))
Film-Noir
	 (array([0, 1], dtype=uint8), array([6171,    7], dtype=int64))
Game-Show
	 (array([0, 1], dtype=uint8), array([6160,   18], dtype=int64))
Talk-Show
	 (array([0, 1], dtype=uint8), array([6176,    2], dtype=int64))
News
	 (array([0, 1], dtype=uint8), array([6177,    1], dtype=int64))

Test run for expanding / unfolding!

In [154]:
df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['A', 'B', 'C', 'D'])
mask = np.array([True,False,True])
df = df[mask]
df

   A  B   C   D
0  0  1   2   3
2  8  9  10  11